{
  "swagger": "2.0",
  "info": { "version": "2.0", "title": "EMS API dokumentatsioon" },
  "host": "api.riigikogu.ee",
  "basePath": "/",
  "tags": [
    { "name": "Dokumendid", "description": " " },
    { "name": "Failid", "description": " " },
    { "name": "Hääletused", "description": " " },
    { "name": "Istungjärgud", "description": " " },
    { "name": "Kasutajagrupid", "description": " " },
    { "name": "Klassifikaatorid", "description": " " },
    { "name": "Kontaktid", "description": " " },
    { "name": "Koosseisud", "description": " " },
    { "name": "Loendid", "description": " " },
    { "name": "Päevakorrad", "description": " " },
    { "name": "Riigikogu liikmed", "description": " " },
    { "name": "Saaliplaan", "description": " " },
    { "name": "Statistika", "description": " " },
    { "name": "Steno", "description": " " },
    { "name": "Sündmused", "description": " " },
    { "name": "Toimikud", "description": " " }
  ],
  "produces": ["application/json", "application/hal+json"],
  "paths": {
    "/api/agenda/plenary": {
      "get": {
        "tags": ["Päevakorrad"],
        "summary": "Täiskogu päevakord",
        "description": "Päevakorda saab küsida ühe nädala või suvalise ajavahemiku kohta, täites vastavalt 'date' või 'startDate/endDate' parameetrid.",
        "operationId": "getPlenaryAgendaUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Kuupäev nädalas, mille päevakorda soovitakse",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "querySteno",
            "in": "query",
            "description": "Küsi Stenoteksti teenusest päevakorra lingid? (true/false)",
            "required": false,
            "type": "boolean",
            "default": true,
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Päevakord" }
          }
        },
        "deprecated": false
      }
    },
    "/api/agenda/usergroup/{uuid}": {
      "get": {
        "tags": ["Päevakorrad"],
        "summary": "Üksuse päevakord",
        "description": "Päevakorda saab küsida ühe nädala või suvalise ajavahemiku kohta, täites vastavalt 'date' või 'startDate/endDate' parameetrid.",
        "operationId": "getUnitAgendaUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Kuupäev nädalas, mille päevakorda soovitakse",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Kasutajagrupi UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Üksuse päevakord" }
          }
        },
        "deprecated": false
      }
    },
    "/api/classifiers": {
      "get": {
        "tags": ["Klassifikaatorid"],
        "summary": "Klassifikaatorid",
        "operationId": "getClassifiersUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Klassifikaator" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/classifiers/{classifierCode}/{valueCode}": {
      "get": {
        "tags": ["Klassifikaatorid"],
        "summary": "Klassifikaatori väärtus",
        "operationId": "getClassifierValueUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "classifierCode",
            "in": "path",
            "description": "Klassifikaatori kood",
            "required": true,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "valueCode",
            "in": "path",
            "description": "Väärtuse kood",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Klassifikaatori väärtus (detailid)"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/classifiers/{code}": {
      "get": {
        "tags": ["Klassifikaatorid"],
        "summary": "Klassifikaatori väärtused",
        "operationId": "getClassifierValuesUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Klassifikaatori kood",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Kaasa mitteaktiivsed väärtused? (true/false)",
            "required": false,
            "type": "boolean",
            "default": false,
            "allowEmptyValue": false,
            "x-example": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Klassifikaatori väärtus (detailid)"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/contacts": {
      "get": {
        "tags": ["Kontaktid"],
        "summary": "Kontaktide nimekiri",
        "operationId": "getContactsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Kasutajagrupp (kontaktid)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/contacts/{uuid}": {
      "get": {
        "tags": ["Kontaktid"],
        "summary": "Detailid",
        "operationId": "getUserDetailsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Kasutaja UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Kasutaja detailid (kontaktid)" }
          }
        },
        "deprecated": false
      }
    },
    "/api/documents": {
      "get": {
        "tags": ["Dokumendid"],
        "summary": "Dokumentide otsing",
        "operationId": "findDocumentsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "authorReference",
            "in": "query",
            "description": "[Kiri] Autori viit",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdEnd",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "createdStart",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "directionCode",
            "in": "query",
            "description": "[Kiri] Suund (klassifikaator 'kirjaSuund')",
            "required": false,
            "type": "string",
            "enum": ["SISEMINE", "SISSE", "VALJA"]
          },
          {
            "name": "documentType",
            "in": "query",
            "description": "Dokumendi liik",
            "required": false,
            "type": "string",
            "enum": [
              "yldine",
              "lugemiseTekst",
              "muudatusettepanek",
              "muudatusettepanekugaLiitumine",
              "meLoetelu",
              "plenaryAgendaItemDocument",
              "unitAgendaItemDocument",
              "infoAgendaItemDocument",
              "interpellationsAgendaItemDocument",
              "algtekst",
              "lopptekst",
              "seletuskiri",
              "protokoll",
              "interpellationsDocument",
              "interpellationsAnswerDocument",
              "opinionDocument",
              "applicationDocument",
              "excursionDocument",
              "translationDocument",
              "writtenQuestionDocument",
              "writtenQuestionAnswerDocument",
              "letterDocument",
              "directiveDocument",
              "pressReleaseDocument",
              "decisionDocument",
              "otherQuestionDocument",
              "officialJourneyDocument",
              "orderDocument",
              "orderImplementationDocument",
              "contractDocument",
              "pursueDocument",
              "elDocument",
              "commissionOpinionDocument",
              "vabariigiPresidendiOtsus",
              "lisadokumendid",
              "aruanne",
              "taiskoguToonadalaProtokoll",
              "riigikoguSeisukoht",
              "uuring",
              "meAllkirjastamine",
              "jobDescriptionDocument",
              "collectiveAddressDocument"
            ]
          },
          {
            "name": "functionGroupUuid",
            "in": "query",
            "description": "Funktsioonigrupi UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "functionUuid",
            "in": "query",
            "description": "Funktsiooni UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "letterAuthor",
            "in": "query",
            "description": "[Kiri] Autor",
            "required": false,
            "type": "string"
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "type": "string"
          },
          {
            "name": "seriesUuid",
            "in": "query",
            "description": "Sarja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "subseriesUuid",
            "in": "query",
            "description": "Alamsarja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "type": "string"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/PagedResources«Dokument»" }
          }
        },
        "deprecated": false
      }
    },
    "/api/documents/collective-addresses": {
      "get": {
        "tags": ["Dokumendid"],
        "summary": "Kollektiivsed pöördumised",
        "operationId": "findCollectiveAddressesUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Kollektiivne pöördumine (dokument)"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/documents/collective-addresses/{uuidOrSenderRef}": {
      "get": {
        "tags": ["Dokumendid"],
        "summary": "Kollektiivse pöördumise detailid",
        "operationId": "findCollectiveAddressUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "uuidOrSenderRef",
            "in": "path",
            "description": "Dokumendi UUID või saatja viit",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Kollektiivne pöördumine (dokument)"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/documents/other-questions": {
      "get": {
        "tags": ["Dokumendid"],
        "summary": "Muud küsimused",
        "operationId": "findOtherQuestionsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "applicantUuid",
            "in": "query",
            "description": "Esitaja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdEnd",
            "in": "query",
            "description": "Loomise lõppkuupäev (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "createdStart",
            "in": "query",
            "description": "Loomise alguskuupäev (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "dateEnd",
            "in": "query",
            "description": "Dokumendi kuupäeva lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "dateStart",
            "in": "query",
            "description": "Dokumendi kuupäeva algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "querySteno",
            "in": "query",
            "description": "Küsi Stenoteksti teenusest päevakorra lingid?",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "type": "string"
          },
          {
            "name": "reporterUuid",
            "in": "query",
            "description": "Ettekandja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "sittingDateTimeEnd",
            "in": "query",
            "description": "Seotud täiskogu istungi kuupäeva lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "sittingDateTimeStart",
            "in": "query",
            "description": "Seotud täiskogu istungi kuupäeva algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "subTypeCode",
            "in": "query",
            "description": "Alamtüübi kood. Lubatud mitu väärtust.",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi",
            "enum": [
              "ARENGUKAVA",
              "RAPORT",
              "VABARIIGI_PRESIDENDI_PEAMINISTRI_JA_MINISTRITE_POLIITILISED_AVALDUSED",
              "OIGUSKANTSLERI_ETTEPANEKUD_JA_ETTEKANDED",
              "RIIGIKOGU_KULALISTE_POLIITILISED_AVALDUSED",
              "UMBUSALDUSE_AVALDAMINE",
              "OLULISE_TAHTSUSEGA_RIIKLIK_KUSIMUS",
              "PEAMINISTRIKANDIDAADILE_VOLITUSTE_ANDMINE",
              "AMETIISIKUTE_ARUANDED_JA_ULEVAATED",
              "AMETIISIKU_KRIMINAALVASTUTSELE_VOTMISEKS_NOUSOLEKU_ANDMINE"
            ]
          },
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "type": "string"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResources«Dokument (muu küsimus)»"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/documents/{uuid}": {
      "get": {
        "tags": ["Dokumendid"],
        "summary": "Dokumendi detailid",
        "operationId": "getDocumentUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Dokumendi UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Dokument" }
          }
        },
        "deprecated": false
      }
    },
    "/api/events": {
      "get": {
        "tags": ["Sündmused"],
        "summary": "Täiskogu ja komisjonide päevakorrad, Riigikogu liikmete lähetused ja visiidid",
        "description": "Sündmusi saab pärida ühe nädala või suvalise ajavahemiku kohta, täites vastavalt 'date' või 'startDate/endDate' parameetrid.",
        "operationId": "getEventsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Kuupäev nädalas, mille sündmusi soovitakse",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäeva vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "querySteno",
            "in": "query",
            "description": "Küsi Stenoteksti teenusest päevakorra lingid?",
            "required": false,
            "type": "boolean",
            "default": true,
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Sündmuse tüüp. Tühja korral kõik",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": ["PLENARY", "COMMITTEE", "SECONDMENTS", "VISITS"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Päevasündmused" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/events/calendar": {
      "get": {
        "tags": ["Sündmused"],
        "summary": "Kuupäevad, millal mõni sündmus on toimunud",
        "operationId": "getEventCalendarUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "committeeGroupUuid",
            "in": "query",
            "description": "Komisjoni UUID, mille päevakorra sündmusi soovitakse. Asjakohane kui \"type=committee\"",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Lõppkuupäev (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Alguskuupäev (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Sündmuse tüüp. Tühja korral kõik",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": ["PLENARY", "COMMITTEE", "SECONDMENTS", "VISITS"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Päev (sündmused)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/files/{uuid}": {
      "get": {
        "tags": ["Failid"],
        "summary": "Faili metaandmed",
        "operationId": "getFileMetadataUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Faili UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Fail" }
          }
        },
        "deprecated": false
      }
    },
    "/api/files/{uuid}/download": {
      "get": {
        "tags": ["Failid"],
        "summary": "Faili allalaadimine",
        "operationId": "downloadFileUsingGET",
        "produces": ["application/octet-stream"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Faili UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "string", "format": "byte" }
          }
        },
        "deprecated": false
      }
    },
    "/api/hallplan": {
      "get": {
        "tags": ["Saaliplaan"],
        "summary": "Saaliplaan",
        "operationId": "getLatestHallplanUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Saaliplaani koht" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/lists/document-tree": {
      "get": {
        "tags": ["Loendid"],
        "summary": "Dokumendipuu (hierarhia)",
        "operationId": "getDocumentTreeUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Funktsiooni grupp" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/lists/document-types": {
      "get": {
        "tags": ["Loendid"],
        "summary": "Dokumendi liigid",
        "operationId": "getDocumentTypesUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Dokumenditüüp" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/lists/draft-initiators": {
      "get": {
        "tags": ["Loendid"],
        "summary": "Eelnõu algatajad",
        "operationId": "getDraftInitiatorsUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Eelnõu algataja" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/lists/volume-types": {
      "get": {
        "tags": ["Loendid"],
        "summary": "Toimiku liigid",
        "operationId": "getVolumeTypesUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Toimiku tüüp" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/memberships": {
      "get": {
        "tags": ["Koosseisud"],
        "summary": "Kõik koosseisud",
        "operationId": "getMembershipsUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Koosseis" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/memberships/current": {
      "get": {
        "tags": ["Koosseisud"],
        "summary": "Praegune koosseis",
        "operationId": "getCurrentMembershipUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Koosseis" }
          }
        },
        "deprecated": false
      }
    },
    "/api/memberships/{number}": {
      "get": {
        "tags": ["Koosseisud"],
        "summary": "Koosseis",
        "operationId": "getMembershipUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "description": "Koosseisu number",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Koosseis" }
          }
        },
        "deprecated": false
      }
    },
    "/api/plenary-members": {
      "get": {
        "tags": ["Riigikogu liikmed"],
        "summary": "Riigikogu liikmete nimekiri / otsing",
        "operationId": "getPlenaryMembersUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "committeeUuid",
            "in": "query",
            "description": "Komisjoni UUID. Lubatud mitu väärtust",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "electoralDistrictCodes",
            "in": "query",
            "description": "Valimisringkonna kood (klassifikaator 'valimisringkond'). Lubatud mitu väärtust",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi",
            "enum": [
              "VORU_VALGA_JA_POLVAMAA",
              "PARNUMAA",
              "JOGEVA_JA_TARTUMAA_VA_TARTU_LINN",
              "TARTU_LINN",
              "IDAVIRUMAA",
              "JARVA_JA_VILJANDIMAA",
              "HIIU_LAANE_JA_SAAREMAA",
              "LAANEVIRUMAA",
              "TALLINNA_MUSTAMAE_JA_NOMME_LINNAOSA",
              "HARJU_VA_TALLINN_JA_RAPLAMAA",
              "TALLINNA_HAABERSTI_POHJATALLINNA_JA_KRISTIINE_LINNAOSA",
              "TALLINNA_KESKLINNA_LASNAMAE_JA_PIRITA_LINNAOSA"
            ]
          },
          {
            "name": "factionUuid",
            "in": "query",
            "description": "Fraktsiooni UUID. Lubatud mitu väärtust",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Kaasa mitteaktiivsed liikmed",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseis",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Liikme nimi. Otsitakse otsisõna sisaldumist nii ees- kui perekonnanimes",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Riigikogu liige" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/plenary-members/{uuid}": {
      "get": {
        "tags": ["Riigikogu liikmed"],
        "summary": "Riigikogu liikme detailid",
        "operationId": "getPlenaryMemberDetailsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "querySteno",
            "in": "query",
            "description": "Küsi Stenoteksti teenusest liikme viimane kõne? (true/false)",
            "required": false,
            "type": "boolean",
            "default": true,
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Liikme UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Riigikogu liikme detailid" }
          }
        },
        "deprecated": false
      }
    },
    "/api/sessions": {
      "get": {
        "tags": ["Istungjärgud"],
        "summary": "Istungjärkude nimekiri",
        "operationId": "getSessionsUsingGET",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Istungjärk" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/sessions/current": {
      "get": {
        "tags": ["Istungjärgud"],
        "summary": "Praegune istungjärk",
        "operationId": "getCurrentSessionUsingGET",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Istungjärk" }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/participations/faction/{uuid}": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Fraktsiooni istungitest osavõtu statistika",
        "operationId": "getFactionParticipationUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "lang",
            "required": false,
            "type": "string",
            "default": "et",
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Fraktsiooni UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Riigikogu liige (osavõtt)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/participations/member/{uuid}": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Riigikogu liikme istungitest osavõtu statistika",
        "operationId": "getMemberParticipationUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "details",
            "in": "query",
            "description": "details",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "lang",
            "required": false,
            "type": "string",
            "default": "et",
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Liikme UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Riigikogu liige (osavõtt)" }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/participations/plenary": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Täiskogu istungitest osavõtu statistika",
        "operationId": "getPlenaryParticipationUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "lang",
            "required": false,
            "type": "string",
            "default": "et",
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Riigikogu liige (osavõtt)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/speeches/faction/{uuid}": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Fraktsiooni sõnavõttude statistika",
        "operationId": "getFactionSpeechStatisticsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Fraktsiooni UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Riigikogu liige (sõnavõtud)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/speeches/member/{uuid}": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Riigikogu liikme sõnavõttude statistika",
        "operationId": "getMemberSpeechStatisticsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Liikme UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Riigikogu liige (sõnavõtud)" }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/speeches/plenary": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Täiskogu sõnavõttude statistika",
        "operationId": "getPlenarySpeechStatisticsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Riigikogu liige (sõnavõtud)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/votings/faction/{uuid}": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Fraktsiooni hääletuste statistika",
        "operationId": "getFactionVotingStatisticsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Fraktsiooni UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Riigikogu liige (hääletused)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/votings/member/{uuid}": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Riigikogu liikme hääletuste statistika",
        "operationId": "getMemberVotingStatisticsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Liikme UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Riigikogu liige (hääletused)" }
          }
        },
        "deprecated": false
      }
    },
    "/api/statistics/votings/plenary": {
      "get": {
        "tags": ["Statistika"],
        "summary": "Täiskogu hääletuste statistika",
        "operationId": "getPlenaryVotingStatisticsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Riigikogu liige (hääletused)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/steno/agenda": {
      "get": {
        "tags": ["Steno"],
        "summary": "Päevakorrapunktide steno lingid",
        "description": "Steno XML-RPC teenus: getStenoTekstPaevakordUrl",
        "operationId": "getAgendaUrlsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "uuids",
            "in": "query",
            "description": "Päevakorrapunktide UUID-d (komaga eraldatud)",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Steno päevakorrapunkt" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/steno/lastVerbatims": {
      "get": {
        "tags": ["Steno"],
        "summary": "Viimased stenogrammid",
        "description": "Steno XML-RPC teenus: getViimasedStenogrammid",
        "operationId": "getLastVerbatimsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Tagastatavate stenogrammide arv",
            "required": false,
            "type": "integer",
            "default": 5,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        },
        "deprecated": false
      }
    },
    "/api/steno/speeches": {
      "get": {
        "tags": ["Steno"],
        "summary": "Isikute kõnede ja sõnavõttude arv",
        "description": "Steno XML-RPC teenus: getStenoTekstIsikKoned",
        "operationId": "getSpeechesUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Lõppkuupäev (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Alguskuupäev (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "userUuids",
            "in": "query",
            "description": "Isikute UUID-d (komaga eraldatud)",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Steno sõnavõtud" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/steno/speeches/count": {
      "get": {
        "tags": ["Steno"],
        "summary": "Isiku sõnavõttude arv",
        "description": "Steno XML-RPC teenus: getIsikSonavotudCount",
        "operationId": "getSpeechCountUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Lõppkuupäev (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Alguskuupäev (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Istungi tüüp",
            "required": false,
            "type": "string",
            "default": "IS",
            "allowEmptyValue": false,
            "enum": ["IS", "IT"]
          },
          {
            "name": "userUuid",
            "in": "query",
            "description": "Isiku UUID",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Steno sõnavõttude arv" }
          }
        },
        "deprecated": false
      }
    },
    "/api/steno/speeches/last": {
      "get": {
        "tags": ["Steno"],
        "summary": "Isiku viimane sõnavõtt",
        "description": "Steno XML-RPC teenus: getViimaneSonavott",
        "operationId": "getLastSpeechUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "charCount",
            "in": "query",
            "description": "Tähemärkide arv",
            "required": false,
            "type": "integer",
            "default": 300,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "type",
            "in": "query",
            "description": "Istungi tüüp",
            "required": false,
            "type": "string",
            "default": "IS",
            "allowEmptyValue": false,
            "enum": ["IS", "IT"]
          },
          {
            "name": "userUuid",
            "in": "query",
            "description": "Isiku UUID",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Steno viimane sõnavõtt" }
          }
        },
        "deprecated": false
      }
    },
    "/api/usergroups": {
      "get": {
        "tags": ["Kasutajagrupid"],
        "summary": "Kasutajagruppide nimekiri/otsing",
        "operationId": "findUserGroupsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "hideInactive",
            "in": "query",
            "description": "hideInactive",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "name",
            "in": "query",
            "description": "Nimi",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "typeCode",
            "in": "query",
            "description": "Tüübi kood (klassifikaator 'kasutajagrupiTuup')",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "UURIMISKOMISJON",
              "VANA_FRAKTSIOON",
              "VANA_ERIKOMISJON",
              "VANA_ALALINE_KOMISJON",
              "ALALINE_KOMISJON",
              "ERIKOMISJON",
              "RIIGIKOGU_JUHATUS",
              "ESIMEHE_BÜROO",
              "OSAKOND",
              "VALIMISRINGKOND",
              "TOETUSRYHM",
              "ASUTUSE_YKSUS",
              "PARLAMENDIRYHM",
              "YHENDUS",
              "FRAKTSIOON",
              "DELEGATSIOON",
              "RIIGIKOGU_TAISKOGU",
              "ERAKOND",
              "AMETNIK",
              "TALITUS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Kasutajagrupp" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/usergroups/{uuid}": {
      "get": {
        "tags": ["Kasutajagrupid"],
        "summary": "getUserGroup",
        "operationId": "getUserGroupUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Kasutajagrupi UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Kasutajagrupp" }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "Toimikute otsing",
        "operationId": "findVolumesUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "createdEndDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "createdStartDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "functionGroupUuid",
            "in": "query",
            "description": "Funktsioonigrupi UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "functionUuid",
            "in": "query",
            "description": "Funktsiooni UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "type": "string"
          },
          {
            "name": "seriesUuid",
            "in": "query",
            "description": "Sarja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "subseriesUuid",
            "in": "query",
            "description": "Alamsarja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "type": "string"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "volumeType",
            "in": "query",
            "description": "Toimiku tüüp",
            "required": false,
            "type": "string",
            "enum": [
              "letterVolume",
              "elVolume",
              "dokumenditoimik",
              "unitSittingVolume",
              "officialJourneyVolume",
              "opinionVolume",
              "plenarySittingVolume",
              "infoSittingVolume",
              "interpellationsVolume",
              "eelnou",
              "writtenQuestionVolume",
              "researchVolume",
              "procurementVolume",
              "visitVolume"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResources«Toimik (otsing)»"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/drafts": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "Eelnõude otsing",
        "operationId": "findDraftVolumesUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "activeDraftStage",
            "in": "query",
            "description": "Aktiivne menetlusetapp",
            "required": false,
            "type": "string"
          },
          {
            "name": "amendmentsDeadlineEndDate",
            "in": "query",
            "description": "Muudatuseteepanekute tähtaja vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "amendmentsDeadlineStartDate",
            "in": "query",
            "description": "Muudatuseteepanekute tähtaja vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "descriptorId",
            "in": "query",
            "description": "Märksõna ID",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "draftTypeCode",
            "in": "query",
            "description": "Eelnõu liik (klassifikaator 'eelnouLiik')",
            "required": false,
            "type": "string",
            "enum": ["UA", "DE", "PE", "AE", "TK", "SE", "OE"]
          },
          {
            "name": "initiatedEndDate",
            "in": "query",
            "description": "Algatamise kuupäeva vahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "initiatedStartDate",
            "in": "query",
            "description": "Algatamise kuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "initiatorUuid",
            "in": "query",
            "description": "Algataja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "leadingCommitteeUuid",
            "in": "query",
            "description": "Juhtivkomisjoni UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "mark",
            "in": "query",
            "description": "Registreerimise number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "proceedingStatus",
            "in": "query",
            "description": "Menetluse staatus",
            "required": false,
            "type": "string",
            "enum": ["IN_PROCESS", "PROCESSED"]
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "type": "string"
          },
          {
            "name": "responsibleMemberUuid",
            "in": "query",
            "description": "Juhtivkomisjoni esindaja UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "type": "string"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResources«Eelnõu (otsing)»"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/drafts/test": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "test",
        "operationId": "testUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": { "200": { "description": "OK" } },
        "deprecated": false
      }
    },
    "/api/volumes/drafts/{uuid}": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "Eelnõu detailid",
        "operationId": "getDraftVolumeUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "querySteno",
            "in": "query",
            "description": "Küsi Stenoteksti teenusest päevakorra lingid? (true/false)",
            "required": false,
            "type": "boolean",
            "default": false,
            "allowEmptyValue": false,
            "x-example": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Eelnõu toimiku UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Eelnõu toimik (baas)" }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/erjk-protocols": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "ERJK protokollide nimekiri",
        "operationId": "findErjkProtocolsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Toimik (ERJK)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/erjk-protocols/{uuid}": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "ERJK protokoll",
        "operationId": "findErjkProtocolUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Toimiku UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Toimik (ERJK)" }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/eu": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "Euroopa Liidu toimikute otsing",
        "operationId": "findEuropeanUnionDocumentsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "createdEndDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "createdStartDate",
            "in": "query",
            "description": "Loomiskuupäeva vahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "documentType",
            "in": "query",
            "description": "Dokumendi liik (sh EL dokumendi liigid)",
            "required": false,
            "type": "string"
          },
          {
            "name": "elMark",
            "in": "query",
            "description": "EL toimiku tähis",
            "required": false,
            "type": "string"
          },
          {
            "name": "elTypeCode",
            "in": "query",
            "description": "EL toimiku liik (klassifikaator 'elToimikuliik')",
            "required": false,
            "type": "string",
            "enum": [
              "MUU_EL_DOKUMENT",
              "EL_ALGATUS",
              "NOUKOGU_JA_ULEMKOGU_DOKUMENT"
            ]
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "opinionCommitteeUuid",
            "in": "query",
            "description": "Arvamuse andja komisjoni UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "receiveDateEnd",
            "in": "query",
            "description": "Saabumise kuupäeva lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "receiveDateStart",
            "in": "query",
            "description": "Saabumise kuupäeva algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Viit",
            "required": false,
            "type": "string"
          },
          {
            "name": "responsibleCommitteeUuid",
            "in": "query",
            "description": "Vastutava komisjoni UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "sectorCode",
            "in": "query",
            "description": "Valdkond (klassifikaator 'elValdkond')",
            "required": false,
            "type": "string",
            "enum": [
              "KESKKOND",
              "HARIDUS_KULTUUR_NOORED",
              "TOOHOIVE_SOTSIAAL_TERVISHOID_TARBIJAKAITSE",
              "POLLUMAJANDUS_KALANDUS",
              "TRANSPORT_TELE_ENERGEETIKA",
              "JUSTIITS_SISEKUSIMUSED",
              "MAJANDUS_RAHANDUS",
              "KONKURENTSIVOIME",
              "ULDASJAD",
              "VALISASJAD"
            ]
          },
          {
            "name": "sectorCommitteeUuid",
            "in": "query",
            "description": "Valdkonna komisjoni UUID",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Pealkiri",
            "required": false,
            "type": "string"
          },
          {
            "name": "titleEn",
            "in": "query",
            "description": "Pealkiri inglise keeles",
            "required": false,
            "type": "string"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResources«EL toimik (otsing)»"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/interpellations": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "Arupärimised",
        "operationId": "findInterpellationsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "enquirerUuid",
            "in": "query",
            "description": "Küsija UUID",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResources«Toimik (arupärimine)»"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/written-questions": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "Kirjalikud küsimused",
        "operationId": "findWrittenQuestionsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "enquirerUuid",
            "in": "query",
            "description": "Küsija UUID",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "membership",
            "in": "query",
            "description": "Koosseisu number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Lehekülje number",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "paged",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "size",
            "in": "query",
            "description": "Tulemuste arv leheküljel (vaikimisi 20)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorteerimine (formaat: väli[,asc|desc])",
            "required": false,
            "type": "array",
            "items": { "type": "string" },
            "collectionFormat": "multi"
          },
          {
            "name": "sort.sorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort.unsorted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "unpaged",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagedResources«Toimik (kirjalik küsimus)»"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/volumes/{uuid}": {
      "get": {
        "tags": ["Toimikud"],
        "summary": "Toimiku detailid",
        "operationId": "getVolumeUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "Toimiku UUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Toimik" }
          }
        },
        "deprecated": false
      }
    },
    "/api/votings": {
      "get": {
        "tags": ["Hääletused"],
        "summary": "Hääletused",
        "operationId": "getVotingsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Täiskogu istung (hääletus)" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/votings/calendar": {
      "get": {
        "tags": ["Hääletused"],
        "summary": "Hääletuste kalender",
        "description": "Kuupäevad, millal vähemalt üks hääletus on toimunud",
        "operationId": "getVotingCalendarUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": true,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Hääletuspäev" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/votings/committees": {
      "get": {
        "tags": ["Hääletused"],
        "summary": "Riigikogu liikme hääletused komisjonides",
        "operationId": "findCommitteeMemberVotingsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "lang",
            "required": false,
            "type": "string",
            "default": "et",
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "userUuid",
            "in": "query",
            "description": "userUuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Kasutajagrupp" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/votings/committees/{uuid}": {
      "get": {
        "tags": ["Hääletused"],
        "summary": "Komisjoni hääletused",
        "operationId": "findCommitteeVotingsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "lang",
            "required": false,
            "type": "string",
            "default": "et",
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Kuupäevavahemiku algus (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Komisjoni istung" }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/votings/last": {
      "get": {
        "tags": ["Hääletused"],
        "summary": "Viimane hääletus",
        "operationId": "getLastVotingUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Täiskogu hääletus (detailid)" }
          }
        },
        "deprecated": false
      }
    },
    "/api/votings/plenary-member/{uuid}": {
      "get": {
        "tags": ["Hääletused"],
        "summary": "Riigikogu liikme hääletused",
        "operationId": "getPlenaryMemberVotingsUsingGET",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "description": "Kuupäevavahemiku lõpp (yyyy-MM-dd)",
            "required": false,
            "type": "string",
            "format": "date",
            "allowEmptyValue": false
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Keel",
            "required": false,
            "type": "string",
            "default": "et",
            "allowEmptyValue": false,
            "enum": ["et", "ru", "en"]
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
[...]
